[submodule "src/pypy"]
	path = src/pypy
	url = https://github.com/sota/pypy
	branch = master
[submodule "src/tclap"]
	path = src/tclap
	url = https://github.com/sota/tclap
	branch = master
[submodule "src/ragel"]
	path = src/ragel
	url = https://github.com/sota/ragel
	branch = master
[submodule "src/docopt.cpp"]
	path = src/docopt.cpp
	url = https://github.com/sota/docopt.cpp
